.CardComp_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 126px;
  gap: 18px;
  
  position: absolute;
  width: 335px;
  height: 144px;
  left: 20px;
  top: 111px;
  
  background: rgba(255, 255, 255, 0.88);
}

.CardComp_restaurantCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 334px;
  height: 288px;
  left: 20px;
  top: 20px;
}
