.Navbar_icon {
  position: absolute;
  left: 5.33%;
  right: 88.27%;
  top: 23.91%;
  bottom: 23.91%;
}

.Navbar_mainlogo {
  left: 45.6%;
  right: 45.62%;
  top: 15.22%;
  bottom: 15.22%;
}

.Navbar_navbar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
}

.Navbar_searchLogo {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.Navbar_bagLogoLogo {
  left: 2.17%;
  right: 2.17%;
  top: 0%;
  bottom: 0%;

  background: #000000;
}

.Navbar_conactUsLogo {
  left: 4.17%;
  right: 4.17%;
  top: 4.17%;
  bottom: 4.17%;

  border: 0.5px solid #000000;
}
