.ChefOfTheWeek_tilte {
  width: 186px;
  height: 35px;
  left: 20px;
  top: 1902px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #000000;
}

.ChefOfTheWeek_body {
  width: 360px;
  height: 338px;
  left: calc(50% - 360px / 2 + 0.5px);
  top: calc(50% - 338px / 2);
}
