.icon_dish_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 476px;
  gap: 32px;
  width: 378px;
  height: 584px;
  left: -1px;
  top: 1270px;

  background: #fafafa;
}

.icon_dish_description {
  width: 136px;
  height: 35px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  text-align: center;
  letter-spacing: 1.97px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
