.HomePage_body {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  z-index: 1;
}

.HomePage_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 126px;
  gap: 18px;
  width: 335px;
  height: 144px;
  left: 20px;
  top: 111px;
  background: rgba(255, 255, 255, 0.88);
}

.HomePage_welcom {
  background-image: url(../../assets/backgroundPic.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 564.83px;
  height: 273px;
  left: -140px;
  top: 46px;
}

.HomePage_card_title {
  width: 315px;
  height: 64px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  letter-spacing: 1.97px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.HomePage_searchField {
  width: 253px;
  height: 15px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 1.29px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.HomePage_img {
  background-image: url(../../assets/backgroundPic.png);
  width: 564.83px;
  height: 273px;
  left: -140px;
  top: 46px;
}

.HomePage_popularRest {
  width: 326px;
  height: 24px;
  left: 20px;
  top: 367px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #000000;
}

.HomePage_title {
  position: absolute;
  width: 326px;
  height: 24px;
  left: 20px;
  top: 367px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #000000;
}
